body{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper{
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

.header{
  &__title{
    font-family: 'Exo 2', sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 1.25;
  }
}